<div #footer class="container mt-5 mb-3">
    <div class="row justify-content-center mb-3">
        <a class="col-auto mx-4"
            href="https://github.com/cpark307"
            target="_blank">
            <i class="fa-brands fa-github-alt"></i></a>
        <a class="col-auto mx-4"
            href="https://www.linkedin.com/in/christine-park-a76a2372/"
            target="_blank">
            <i class="fa-brands fa-linkedin-in"></i></a>
        <a class="col-auto mx-4"
            href="https://codepen.io/cpark307"
            target="_blank">
            <i class="fa-brands fa-codepen"></i></a>
    </div>
</div>
